@using Tasker.Domain.BoardAggregate
@model Tasker.Web.Pages.Tasks.BaseTaskForm

@{
  var currentPage = (string)ViewBag.CurrentPage;
  var taskStatusOptions = (List<SelectListItem>)ViewBag.TaskStatusOptions;
  var taskPriorityOptions = (List<SelectListItem>)ViewBag.TaskPriorityOptions;
}

<div class="flex justify-center">
  <div
    class="card w-full shadow-xl p-4 m-12"
  >
    <div class="w-full">
      <div class="w-full items-center text-center mb-4">
        <h2 class="text-4xl">Tarefa</h2>
      </div>
      <form
        hx-post
        hx-page="@currentPage"
        hx-target="body"
        hx-push-url="true"
        hx-trigger="submit"
      >
        <input asp-for="CurrentTask.Id" hidden />
        <input asp-for="CurrentTask.BoardId" hidden />
        <div class="flex flex-col gap-8">
          <section class="flex flex-col gap-8">
            <div class="flex flex-col gap-8">
              <div class="flex flex-col gap-2">
                <label asp-for="CurrentTask.Title">Título:</label>
                <input 
                  class="input input-bordered" 
                  asp-for="CurrentTask.Title"
                  required
                />
              </div>
              <div class="flex gap-8">
                <div class="flex flex-col gap-2">
                  <label asp-for="CurrentTask.StartDate">Data de Início</label>
                  <input 
                      type="date"
                      class="input input-bordered"
                      asp-for="CurrentTask.StartDate"
                    > 
                </div>
                <div class="flex flex-col gap-2">
                  <label asp-for="CurrentTask.EndDate">Data de Fim</label>
                  <input 
                    type="date"
                    class="input input-bordered" 
                    asp-for="CurrentTask.EndDate" 
                  />
                </div>
                <div class="flex flex-col gap-2">
                  <label>Tempo estimado:</label>
                  <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn m-1">Clique para visualizar</div>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                      <li>
                        <label asp-for="CurrentTask.EstimatedTime.Hours">Horas:</label>
                        <input 
                          type="number"
                          class="input"
                          min="0"
                          asp-for="CurrentTask.EstimatedTime.Hours"
                        />
                      </li>
                      <li>
                        <label asp-for="CurrentTask.EstimatedTime.Minutes">Minutos:</label>
                        <input 
                          type="number"
                          class="input"
                          min="0"
                          asp-for="CurrentTask.EstimatedTime.Minutes"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="flex flex-col gap-2">
                  <label>Tempo rastreado:</label>
                  <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn m-1">Clique para visualizar</div>
                    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                      <li>
                        <label asp-for="CurrentTask.Time.Hours">Horas:</label>
                        <input 
                          type="number"
                          class="input"
                          min="0"
                          asp-for="CurrentTask.Time.Hours"
                        />
                      </li>
                      <li>
                        <label asp-for="CurrentTask.Time.Minutes">Minutos:</label>
                        <input 
                          type="number"
                          class="input"
                          min="0"
                          asp-for="CurrentTask.Time.Minutes"
                        />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-2 gap-2">
              <div class="flex flex-col gap-2">
                <span class="has-text-grey">Status:</span>
                <span>
                  <div>
                    <select
                      class="select select-bordered select-sm" 
                      asp-items="@taskStatusOptions" 
                      asp-for="CurrentTask.Status">
                    </select>
                  </div>
                </span>
              </div>
              <div class="flex flex-col gap-2">
                <span class="has-text-grey">Prioridade:</span>
                <span>
                  <div>
                    <select
                      class="select select-bordered select-sm" 
                      asp-items="@taskPriorityOptions" 
                      asp-for="CurrentTask.Priority">
                    </select>
                  </div>
                </span>
              </div>
            </div>
            <div class="flex flex-col gap-2">
              <label asp-for="CurrentTask.Description">Descrição:</label>
              <textarea
                class="textarea textarea-bordered textarea-lg w-full" 
                asp-for="CurrentTask.Description" 
              ></textarea>
            </div>
            @if(Model.Id != null)
            {
              <div>
                <div class="flex justify-between items-center">
                  <h3 class="text-2xl">Checklists</h3>
                  <a 
                    class="btn is-secondary"
                    hx-get="@Url.Page("CreateTaskChecklist", new { boardId = Model.BoardId, taskId = Model.Id })"
                    hx-target="body"
                    hx-push-url="true"
                  >
                    <span class="icon">
                      <i class="fas fa-plus"></i>
                    </span>
                  </a>
                </div>
                <ul>
                  @foreach (var checklist in Model.CurrentTask.TaskChecklists)
                  {
                    <li class="mt-5 flex items-center justify-between">
                      <div class="flex gap-2">
                        <div>
                          <input 
                            type="checkbox" 
                            class="checkbox"
                            value="@checklist.IsDone" 
                            checked="@checklist.IsDone"
                            hx-post="@Url.Page(currentPage, "ToggleChecklistStatus", new { checklistId = checklist.Id!.Value })"
                            hx-push-url="false"
                            hx-trigger="change"
                            hx-swap="none" 
                          />
                        </div>
                        <div>
                          <p>@checklist.Title</p>
                        </div>
                      </div>
                      <div>
                        <a 
                          class="btn flex items-center btn-ghost tooltip tooltip-bottom"
                          data-tip="Editar checklist"
                          hx-get="@Url.Page("EditTaskChecklist", new { boardId = Model.BoardId, taskId = Model.Id, id = checklist.Id })"
                          hx-target="body"
                          hx-push-url="true"
                        >
                          <span class="icon">
                            <i class="fas fa-edit"></i>
                          </span>
                        </a>
                      </div>
                    </li>
                    <hr class="border-gray-600" />
                  }
                </ul>
              </div>
              <div>
                <div class="flex justify-between items-center">
                  <h3 class="text-2xl">Anexos</h3>
                  <details class="dropdown">
                    <summary class="btn m-1">Selecione um arquivo</summary>
                    <ul class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                      <li>
                        <input 
                          type="file" 
                          class="file-input file-input-bordered w-full"
                          asp-for="SelectedFile"
                          hx-post="@Url.Page(currentPage, "UploadSelectedFile")"
                          hx-encoding='multipart/form-data'
                          hx-trigger="change"
                          hx-push-url="false"
                          hx-target="#attachment-file-list"
                        />
                      </li>
                    </ul>
                  </details>
                </div>
                <div id="attachment-file-list">
                  @(await Component.InvokeAsync("AttachmentFilesList", new { model = Model.CurrentTask.AttachmentFiles }))
                </div>
              </div>
              <div>
                <button
                  type="button" 
                  class="btn btn-sm btn-ghost input input-bordered flex items-center" 
                  _="
                    on click 
                      toggle the *display of #comments-section
                      toggle the *display of #comments-section-show
                      toggle the *display of #comments-section-hide
                  "
                >
                  <span class="icon">
                    <i class="fas fa-caret-right" id="comments-section-show"></i>
                    <i class="fas fa-caret-down" id="comments-section-hide" style="display: none;"></i>
                  </span>
                  <h3 class="ml-2">Comentários</h3>
                </button>
                <div id="comments-section" style="display: none;">
                  <div id="comments-result">
                    @(await Component.InvokeAsync("CommentList", new { taskId = Model.Id }))
                  </div>
                  <div class="my-2">
                    <input class="input input-bordered" asp-for="CurrentCommentMessage" />
                    <a
                      hx-post="@Url.Page(currentPage, "AddComment")"
                      hx-push-url="false"
                      hx-target="#comments-result" 
                      class="btn btn-primary ml-2"
                    >
                      Enviar
                    </a>
                  </div>
                </div>
              </div>
            }
          </section>
          
          <footer class="mt-5 card-actions justify-end gap-4 text-left">
            @if (Model.Id.HasValue)
            {
              <a 
                class="btn btn-outline btn-error mr-2"
                hx-post="@Url.Page("Edit", "Delete")"
                hx-confirm="Tem certeza que deseja excluir a tarefa?"
                hx-target="body"
                hx-push-url="true"
              >
                <span class="icon mr-2">
                  <i class="fas fa-trash"></i>
                </span>
                Excluir Tarefa
              </a>
            }
            <a 
              class="btn"
              href="/tasks?boardId=@Model.BoardId"
            >
              Voltar
            </a>
            <button 
              type="submit" 
              class="btn btn-primary"
              disabled
              _="on change from closest <form/> or load
                if (<[required]:invalid/>).length > 0
                  add @@disabled 
                  then exit
                end
                remove @@disabled"
            >
              Salvar
            </button>
          </footer>
        </div>
      </form>
    </div>
  </div>
</div>